body {
  margin: 0px;
}

/* tag selector */
h6 {
  color: red;
}

/* class selector */

.cool {
  font-size: 32pt;
  font-family: Söhne, ui-sans-serif, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
.pretty {
  color: lime;
}
/* .class && .class */
/* 一つの要素で、どちらのクラスも持っていれば適用される */
/* 親要素、子要素でそれぞれのクラスを持っている場合は適用されない */
.cool1.pretty1 {
  font-size: 30pt;
  color: blue;
}

div.test:hover {
  font-size: 30pt;
  color: red;
}

[id*="aaa"]:hover {
  color: red;
}

.binding ul li {
  color: red;
}

.binding ul ul li {
  color: blue;
}

.binding ul ul ul li {
  color: greenyellow;
}

.child_selector > div {
  font-size: 10px;
}
.sec > p {
  color: #00ffff;
}
h1 ~ div {
  color: red;
}

.foot_space {
  padding-bottom: 50px;
  border: #00ffff;
  border-style: dashed;
  border-radius: 3%;
}
.foot_space:empty {
  background-color: yellowgreen;
}

#intest:out-of-range {
  border-color: red;
}

.c1:nth-child(4) {
  color: red;
}

.pesudo_element p::first-line {
  color: red;
}
